Library/AssetImportState
Library/AssetVersioning.db
Library/InspectorExpandedItems.asset
Library/shadercompiler-64bit-1.log
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
LudumDare35-csharp.sln
LudumDare35.sln
LudumDare35.userprefs
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Assets/Standard Assets.meta
Assets/Editor/ImageEffects.meta
