Library/AssetImportState
Library/AssetVersioning.db
Library/InspectorExpandedItems.asset
Library/shadercompiler-64bit-1.log
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
LudumDare35-csharp.sln
LudumDare35.sln
LudumDare35.userprefs
